include AUTHORS CHANGES LICENSE VERSION
include MANIFEST.in
include *.rst
include *.txt
recursive-include edc_model_form/templates *
recursive-include edc_model_form/static *
recursive-include edc_model_form/management *
